@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background: #101410;
  font-family: "VT323", monospace;
}

button,
input {
  font-family: inherit;
}
